header.site-header
  a(href='./')
    .logo Example Site
  
  if menuContent != null
    nav
      ul
        each menuLink in menuContent.data.menu_links
          li
            a(href=PrismicDOM.Link.url(menuLink.link, ctx.linkResolver))
              != PrismicDOM.RichText.asText(menuLink.label)