section.image-gallery.content-section

  != PrismicDOM.RichText.asHtml(slice.primary.gallery_title, ctx.linkResolver)
  
  div.gallery
    //- Loop through the gallery items
    each galleryItem in slice.items

      div.gallery-item
        img(src=galleryItem.image.url)
        != PrismicDOM.RichText.asHtml(galleryItem.image_description, ctx.linkResolver)

        - var galleryLink = PrismicDOM.Link.url(galleryItem.link, ctx.linkResolver)
        - var linkLabel = PrismicDOM.RichText.asText(galleryItem.link_label)
        if ( galleryLink && linkLabel != " " )
          p.gallery-link
            a(href=galleryLink) !{linkLabel}
